@media (max-width:$lg) {
  .article-team {
    .container {
      h1 {
        width: 70vw;
        margin: 0;
      }
    }
  }
}

@media (max-width:$md) {
  .article-team {
    margin-top: 20px;
    margin-bottom: 20px;
    
    .container {
      h1 {
        width: 80vw;
      }
    }
  }
}