.carousel-ad {
  padding: 75px 0 75px 0;
  background-color: $lightGray;
  .container {
    .carousel-indicators {
      margin-bottom: -40px;
      
    button {
      @extend %blue-dots;
    }
    }
    .carousel-inner {
      
      background-color:$lightGray ;
      border: 1px solid #fff;
      border-radius: 12px;

      .carousel-item {
        .row {
          flex-wrap: nowrap;
          .col-4 {
          
          }
        }
          .col-7 {
            margin-top: 20px;
            margin-left: 25px;
        
          }
        }
      }
    }
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
} 