.publications {
  background-color: $lightGray;
  padding-top: 40px;
  .container {
    position: relative;
    h5 {
      margin-top: 20px;
      color: $blue;
      text-transform: uppercase;
      font-size: 14px;
      
    }
    h6 {
      color: $blue;
      margin: 20px;
    }
    h1 {
      @extend %clr;
    }
    span {
      color: $third-color;
    }
    p {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 4px solid $lightGray;
    }

   
    span,
    p {
      margin: 20px;
      padding-bottom: 20px;
      
    }
    .row {
      margin-top: 40px;
      max-height: calc(100vh - 56px);
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 70px;
      

      .col {
        .publications__item {
          background-color: #fff;
          border: 1px solid $lightGray;
          border-radius: 12px;
          margin-top: 20px;

          
        }
      }
    }
  
  }
  .shade__white {
    background-image: url(./../images/shade2.svg);
    position: absolute;
    background-size: cover;
    right: 1px;
    height: 200px;
    width: 100%;
    bottom: 0px;
    pointer-events: none;
    .shade__button {
      display: flex;
      justify-content: center;
      button {
        position: absolute;
        bottom: 40px;
        padding: 10px;
        border: none;
        box-shadow: 0px 1px 11px -2px $blue;
        border-radius: 20px;
        width: 250px;
        background-color: $blue;
        height: 50px;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
         pointer-events: visible;
         transition: .3s ease;
 
         &:hover {
           transform: scale(1.2);
         }
         &:active {
           transform: scale(1);
         }
      }
    }
  }
}