


@media (max-width:$lg) {
  .publications {
    padding-top: 20px;
    .container {
      p {
        margin: 0 20px 10px 20px;
      }
      span {
        margin: 0 20px 10px 20px;
        padding-bottom: 10px;
      }
      .overflow  {
        margin-top: 0;
        .col {
          .publications__item {
            display: flex;
            flex-direction: column;

          }
        }
      }
    }
  }
}

  
@media (max-width:$md) {
  .publications {
    .container {
      p {
        display: none;
      }
      .overflow {
        flex-direction: column;
        flex-wrap: nowrap;
        padding-bottom: 150px;
      }
      .row {
        flex-direction: column;
        flex-wrap: nowrap;
        padding-bottom: 150px;
      }
    }
}
}
