.publications {
  background-color: $lightGray;
  padding-top: 40px;
  .container {
    position: relative;
    h5 {
      margin-top: 20px;
      color: $blue;
      text-transform: uppercase;
      font-size: 14px;
      
    }
    h6 {
      color: $blue;
      margin: 20px;
    }
    h1 {
      @extend %clr;
    }
    span {
      color: $third-color;
    }
    p {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 4px solid $third-color;
    }

   
    span,
    p {
      margin: 20px;
      padding-bottom: 20px;
      
    }
    .row {
      .col {
        .publications__item {
          background-color: #fff;
          border: 1px solid $lightGray;
          border-radius: 12px;
          margin-top: 20px;    

          img {
            width: 100%;
          }
        }
      }
    }
    .overflow {
      margin-top: 40px;
      max-height: calc(100vh - 56px);
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 70px;
      

      .col {
        .publications__item {
          background-color: #fff;
          border: 1px solid $lightGray;
          border-radius: 12px;
          margin-top: 20px;
        img {
          width: 100%;
        }
          
        }
      }
    }
  
  }
  .btn__wrapper {
    .btn {
      display: flex;
      justify-content: center;
      button {
        @include btna (unset);

         &:hover {
           transform: scale(1.2);
         }
         &:active {
           transform: scale(1);
         }
    }
  }
}
  .shade__white {
    background-image: url(./../images/shade2.svg);
    position: absolute;
    background-size: cover;
    right: 1px;
    height: 200px;
    width: 100%;
    bottom: 0px;
    pointer-events: none;
    .shade__button {
      display: flex;
      justify-content: center;
      button {
        @include btna (absolute);
 
         &:hover {
           transform: scale(1.2);
         }
         &:active {
           transform: scale(1);
         }
      }
    }
  }
  
}

.carousel {
  .carousel-inner {
    .carousel-item {
     .publications {
      padding-top: 100px;
      margin-top: 50px;
     }
    }
  }
  .carousel-indicators > button.active,
  .carousel-indicators > button {
    width: 127px;
    height: 36px;
    text-indent: 0;
    border: 0px solid #fff;
    border-radius: 10px;
  }
  .carousel-indicators {
   width: 260px;
   margin: 90px auto;
   height: 42px;
   border-radius: 10px;
   background-color: #E6E6F0;
  }

  .carousel-indicators > button {
    background-color: #E6E6F0;
  }

  .carousel-indicators > button.active {
    background-color: #fff;
  }
}
