@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-ExtraBoldItalic.eot");
  src: local("TT Norms ExtraBold Italic"), local("TTNorms-ExtraBoldItalic"), url("./../fonts/Norm/TTNorms-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-ExtraBoldItalic.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-ExtraBoldItalic.woff") format("woff"), url("./../fonts/Norm/TTNorms-ExtraBoldItalic.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-ExtraBoldItalic.svg#TTNorms-ExtraBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-BlackItalic.eot");
  src: local("TT Norms Black Italic"), local("TTNorms-BlackItalic"), url("./../fonts/Norm/TTNorms-BlackItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-BlackItalic.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-BlackItalic.woff") format("woff"), url("./../fonts/Norm/TTNorms-BlackItalic.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-BlackItalic.svg#TTNorms-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-Bold.eot");
  src: local("TT Norms Bold"), local("TTNorms-Bold"), url("./../fonts/Norm/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-Bold.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-Bold.woff") format("woff"), url("./../fonts/Norm/TTNorms-Bold.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-Bold.svg#TTNorms-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-Heavy.eot");
  src: local("TT Norms Heavy"), local("TTNorms-Heavy"), url("./../fonts/Norm/TTNorms-Heavy.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-Heavy.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-Heavy.woff") format("woff"), url("./../fonts/Norm/TTNorms-Heavy.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-Heavy.svg#TTNorms-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-ExtraLightItalic.eot");
  src: local("TT Norms ExtraLight Italic"), local("TTNorms-ExtraLightItalic"), url("./../fonts/Norm/TTNorms-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-ExtraLightItalic.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-ExtraLightItalic.woff") format("woff"), url("./../fonts/Norm/TTNorms-ExtraLightItalic.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-ExtraLightItalic.svg#TTNorms-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-ExtraBold.eot");
  src: local("TT Norms ExtraBold"), local("TTNorms-ExtraBold"), url("./../fonts/Norm/TTNorms-ExtraBold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-ExtraBold.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-ExtraBold.woff") format("woff"), url("./../fonts/Norm/TTNorms-ExtraBold.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-ExtraBold.svg#TTNorms-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-Black.eot");
  src: local("TT Norms Black"), local("TTNorms-Black"), url("./../fonts/Norm/TTNorms-Black.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-Black.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-Black.woff") format("woff"), url("./../fonts/Norm/TTNorms-Black.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-Black.svg#TTNorms-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-BoldItalic.eot");
  src: local("TT Norms Bold Italic"), local("TTNorms-BoldItalic"), url("./../fonts/Norm/TTNorms-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-BoldItalic.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-BoldItalic.woff") format("woff"), url("./../fonts/Norm/TTNorms-BoldItalic.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-BoldItalic.svg#TTNorms-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-HeavyItalic.eot");
  src: local("TT Norms Heavy Italic"), local("TTNorms-HeavyItalic"), url("./../fonts/Norm/TTNorms-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-HeavyItalic.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-HeavyItalic.woff") format("woff"), url("./../fonts/Norm/TTNorms-HeavyItalic.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-HeavyItalic.svg#TTNorms-HeavyItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-ExtraLight.eot");
  src: local("TT Norms ExtraLight"), local("TTNorms-ExtraLight"), url("./../fonts/Norm/TTNorms-ExtraLight.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-ExtraLight.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-ExtraLight.woff") format("woff"), url("./../fonts/Norm/TTNorms-ExtraLight.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-ExtraLight.svg#TTNorms-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-Italic.eot");
  src: local("TT Norms Italic"), local("TTNorms-Italic"), url("./../fonts/Norm/TTNorms-Italic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-Italic.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-Italic.woff") format("woff"), url("./../fonts/Norm/TTNorms-Italic.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-Italic.svg#TTNorms-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-Light.eot");
  src: local("TT Norms Light"), local("TTNorms-Light"), url("./../fonts/Norm/TTNorms-Light.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-Light.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-Light.woff") format("woff"), url("./../fonts/Norm/TTNorms-Light.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-Light.svg#TTNorms-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-MediumItalic.eot");
  src: local("TT Norms Medium Italic"), local("TTNorms-MediumItalic"), url("./../fonts/Norm/TTNorms-MediumItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-MediumItalic.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-MediumItalic.woff") format("woff"), url("./../fonts/Norm/TTNorms-MediumItalic.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-MediumItalic.svg#TTNorms-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-ThinItalic.eot");
  src: local("TT Norms Thin Italic"), local("TTNorms-ThinItalic"), url("./../fonts/Norm/TTNorms-ThinItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-ThinItalic.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-ThinItalic.woff") format("woff"), url("./../fonts/Norm/TTNorms-ThinItalic.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-ThinItalic.svg#TTNorms-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-LightItalic.eot");
  src: local("TT Norms Light Italic"), local("TTNorms-LightItalic"), url("./../fonts/Norm/TTNorms-LightItalic.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-LightItalic.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-LightItalic.woff") format("woff"), url("./../fonts/Norm/TTNorms-LightItalic.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-LightItalic.svg#TTNorms-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-Regular.eot");
  src: local("TT Norms Regular"), local("TTNorms-Regular"), url("./../fonts/Norm/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-Regular.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-Regular.woff") format("woff"), url("./../fonts/Norm/TTNorms-Regular.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-Regular.svg#TTNorms-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-Thin.eot");
  src: local("TT Norms Thin"), local("TTNorms-Thin"), url("./../fonts/Norm/TTNorms-Thin.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-Thin.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-Thin.woff") format("woff"), url("./../fonts/Norm/TTNorms-Thin.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-Thin.svg#TTNorms-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'TT Norms';
  src: url("./../fonts/Norm/TTNorms-Medium.eot");
  src: local("TT Norms Medium"), local("TTNorms-Medium"), url("./../fonts/Norm/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/Norm/TTNorms-Medium.woff2") format("woff2"), url("./../fonts/Norm/TTNorms-Medium.woff") format("woff"), url("./../fonts/Norm/TTNorms-Medium.ttf") format("truetype"), url("./../fonts/Norm/TTNorms-Medium.svg#TTNorms-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
.head .container .row .navbar__desktop .navigation li a:hover, .head .container .row .navbar__desktop span a:hover {
  color: #F0145A;
  cursor: pointer; }

.bg__shadow, .bg__item {
  background-size: cover;
  background-position: center center;
  height: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.team-carousel .container .carousel-indicators button {
  width: 16px;
  height: 16px;
  border: 1px solid #24A3FF;
  border-radius: 10px;
  background-color: #24A3FF;
  margin: 0 7px 0 7px; }

.dot {
  width: 6px;
  height: 6px;
  background: #B3B3BA;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px; }

.container {
  max-width: 1320px;
  margin: 0 auto; }

* {
  font-family: 'TT Norms',sans-serif;
  text-decoration: none !important; }

@media (max-width: 1200px) {
  .container {
    width: 991px; } }
@media (max-width: 991px) {
  .container {
    width: 768px; } }
@media (max-width: 768px) {
  .container {
    width: 576px; } }
@media (max-width: 576px) {
  .container {
    width: 100%; } }
.head {
  background: linear-gradient(40deg, transparent 60%, #7A425E 87.53%), url("./../images/Pattern Splash.svg");
  background-color: #323264;
  padding: 56px 0 179px 0;
  height: 757px;
  background-size: cover;
  background-position: center;
  color: #fff; }
  .head .container .navbar {
    display: none; }
  .head .container .row {
    position: relative; }
    .head .container .row .scroll__down {
      position: absolute;
      bottom: 113px;
      display: flex;
      justify-content: center; }
      .head .container .row .scroll__down .accordion .accordion-item:last-of-type {
        border: none; }
      .head .container .row .scroll__down .accordion .accordion-item .accordion-header {
        border: 1px solid #fff;
        width: 55px;
        height: 55px;
        border-radius: 50%; }
        .head .container .row .scroll__down .accordion .accordion-item .accordion-header .accordion-button {
          border-radius: 50%; }
          .head .container .row .scroll__down .accordion .accordion-item .accordion-header .accordion-button::after {
            margin: 0 auto; }
      .head .container .row .scroll__down .accordion .accordion-item .accordion-body iframe {
        border-radius: 20px; }
    .head .container .row .leg {
      background-image: url("./../images/Symbol Long leg.svg");
      background-position: center center;
      background-repeat: no-repeat;
      position: relative;
      height: 710px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .head .container .row .leg span {
        position: absolute;
        top: 24%;
        font-size: 38px;
        max-width: 600px;
        text-align: center; }
    .head .container .row .shade {
      width: 100%;
      height: 200px;
      background-image: url(./../images/Shade.svg);
      background-size: cover;
      position: absolute;
      bottom: 98px;
      pointer-events: none; }
      .head .container .row .shade img {
        position: absolute;
        top: 575px; }
    .head .container .row .navbar__desktop .adress {
      margin-left: 20px; }
    .head .container .row .navbar__desktop .leng {
      color: #fff;
      font-weight: 700;
      font-size: 12px;
      padding: 6px; }
      .head .container .row .navbar__desktop .leng:hover {
        border: none;
        border-radius: 8px;
        background-color: #F0145A; }
    .head .container .row .navbar__desktop .navigation {
      flex-wrap: wrap; }
      .head .container .row .navbar__desktop .navigation li {
        padding-left: 15px;
        list-style: none;
        font-size: 18px; }
        .head .container .row .navbar__desktop .navigation li a {
          color: #fff; }
          .head .container .row .navbar__desktop .navigation li a:hover {
            border-bottom: 2px solid; }
    .head .container .row .navbar__desktop img {
      vertical-align: top;
      margin-left: 3px;
      cursor: pointer; }
    .head .container .row .navbar__desktop span {
      font-weight: 300; }
      .head .container .row .navbar__desktop span a {
        margin-right: 3px;
        font-weight: 500;
        color: #fff; }

@media (max-width: 768px) {
  .head {
    background: linear-gradient(40deg, transparent 60%, #7A425E 87.53%);
    background-color: #323264;
    padding: 0; }
    .head .container .navbar {
      display: block; }
      .head .container .navbar .container-fluid {
        align-items: stretch; }
        .head .container .navbar .container-fluid .logo__wrapper .navbar-brand img {
          max-width: 90px;
          margin-top: 20px; }
        .head .container .navbar .container-fluid .logo__wrapper .leng {
          color: #fff;
          font-weight: 700;
          font-size: 12px;
          padding: 6px; }
          .head .container .navbar .container-fluid .logo__wrapper .leng:hover {
            border: none;
            border-radius: 8px;
            background-color: #F0145A; }
        .head .container .navbar .container-fluid .offcanvas {
          background: linear-gradient(40deg, transparent 60%, #7A425E 87.53%);
          width: 150px; }
          .head .container .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item a {
            color: #fff; }
        .head .container .navbar .container-fluid .navbar__wrapper {
          justify-content: space-between;
          display: flex;
          flex-direction: column; }
          .head .container .navbar .container-fluid .navbar__wrapper .phone a {
            color: #B3B3BA; }
          .head .container .navbar .container-fluid .navbar__wrapper .navbar-toggler {
            border: none;
            color: #fff;
            text-align: end; }
    .head .container .row .navbar__desktop {
      display: none; }
      .head .container .row .navbar__desktop a,
      .head .container .row .navbar__desktop span,
      .head .container .row .navbar__desktop .dot {
        display: none; } }
.p__page {
  background-color: #323264;
  width: 100vw;
  height: 475px;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 102px;
  display: flex; }
  .p__page .container .d-flex .tab-content .tab-pane .info-block__text {
    margin-left: 40px; }
    .p__page .container .d-flex .tab-content .tab-pane .info-block__text h3 {
      font-size: 32px;
      margin-bottom: 20px; }
    .p__page .container .d-flex .tab-content .tab-pane .info-block__text div {
      font-size: 17px; }
  .p__page .container .d-flex .nav-link {
    border-right: 4px solid #B3B3BA;
    color: #B3B3BA;
    padding: 20px 32px 9px 0px;
    line-height: 44px;
    width: 415px;
    cursor: pointer;
    font-weight: 500;
    background: none;
    font-size: 42px;
    display: flex;
    text-align: end;
    justify-content: flex-end;
    border-radius: 0px; }
    .p__page .container .d-flex .nav-link:hover {
      border-right: 4px solid #F0145A;
      background: linear-gradient(45deg, #EF8080 30%, #F0145A 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #323264; }

.p__page-carousel {
  display: none; }

@media (max-width: 768px) {
  .p__page {
    background-color: #323264;
    display: none; }

  .p__page-carousel {
    color: #fff;
    padding: 0 20px 90px 20px;
    background-color: #323264;
    display: block; }
    .p__page-carousel .container .carousel-indicators {
      margin-bottom: -40px; }
      .p__page-carousel .container .carousel-indicators button {
        width: 16px;
        height: 16px;
        border: 1px solid #24A3FF;
        border-radius: 10px;
        background-color: #24A3FF;
        margin: 0 7px 0 7px; }
    .p__page-carousel .container .carousel-inner .carousel-item .row .col-12 h5 {
      background: linear-gradient(45deg, #F0145A 5%, #EF8080 95%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #323264; }
    .p__page-carousel .container .carousel-inner .carousel-item .row .col-12 h1 {
      margin-bottom: 20px; }
    .p__page-carousel .container .carousel-inner .carousel-item .row .col-12 h6,
    .p__page-carousel .container .carousel-inner .carousel-item .row .col-12 span {
      color: #B3B3BA; }

  .carousel-control-prev-icon {
    background-image: none; } }
.services {
  background: linear-gradient(200deg, transparent 60%, #7A425E 87.53%), url("none");
  min-height: 800px;
  background-color: #323264;
  padding-bottom: 80px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px; }
  .services .container h5 {
    color: #B3B3BA; }
  .services .container h1 {
    background: linear-gradient(45deg, #F0145A 10%, #EF8080 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #323264; }
  .services .container .row {
    margin-top: 68px; }
    .services .container .row .col {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      flex-direction: column;
      align-items: flex-start; }
      .services .container .row .col h5 {
        margin-top: 20px;
        font-size: 24px;
        color: #24A3FF; }
      .services .container .row .col p {
        margin-top: 15px;
        font-size: 18px;
        color: #fff; }

.bg__shadow {
  background-image: url("./../images/shadowbg1.svg");
  margin: 0 20px 0 20px; }

.bg__item {
  background-image: url("./../images/shadowbg2.svg");
  margin: 0 40px 0 40px; }

@media (max-width: 768px) {
  .services {
    padding-left: 20px;
    padding-bottom: 10px; }
    .services .container .row {
      margin: 20px 10px 0 0;
      flex-direction: column; }
      .services .container .row .col {
        padding: 0;
        flex-direction: row;
        margin-top: 40px; }
        .services .container .row .col:first-child {
          margin-top: 0; }
        .services .container .row .col h5 {
          max-width: 350px;
          margin-left: 10px; } }
@media (max-width: 576px) {
  .services .container .row .col img {
    max-width: 64px; }
  .services .container .row .col h5 {
    max-width: 260px;
    font-size: 18px; } }
.team-carousel {
  margin-top: 40px; }
  .team-carousel .container .carousel-indicators {
    margin-bottom: -40px; }
  .team-carousel .container .carousel-inner {
    background-color: #F5F5FA;
    border: 1px solid #fff;
    border-radius: 12px; }
    .team-carousel .container .carousel-inner .carousel-item .row {
      flex-wrap: nowrap; }
      .team-carousel .container .carousel-inner .carousel-item .row .col-4 .smileMan {
        width: 413px;
        height: 500px;
        background-image: url(./../images/smileMan.png);
        background-position: center center;
        background-size: cover; }
      .team-carousel .container .carousel-inner .carousel-item .row .col-4 .glassesMan {
        background-image: url(./../images/glassesMan.png);
        width: 413px;
        height: 500px;
        background-position: center center;
        background-size: cover; }
      .team-carousel .container .carousel-inner .carousel-item .row .col-4 .blondMan {
        background-image: url(./../images/BlondMan.png);
        width: 413px;
        height: 500px;
        background-position: center center;
        background-size: cover; }
      .team-carousel .container .carousel-inner .carousel-item .row .col-7 {
        margin-top: 20px;
        margin-left: 25px; }
        .team-carousel .container .carousel-inner .carousel-item .row .col-7 h5 {
          color: #24A3FF; }
        .team-carousel .container .carousel-inner .carousel-item .row .col-7 h1 {
          background: linear-gradient(45deg, #F0145A 10%, #EF8080 90%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          color: #323264;
          margin-bottom: 20px; }
        .team-carousel .container .carousel-inner .carousel-item .row .col-7 h6,
        .team-carousel .container .carousel-inner .carousel-item .row .col-7 span {
          color: #B3B3BA; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none; }

@media (max-width: 1200px) {
  .team-carousel .container .carousel-inner .carousel-item .row .col-4 .smileMan,
  .team-carousel .container .carousel-inner .carousel-item .row .col-4 .glassesMan,
  .team-carousel .container .carousel-inner .carousel-item .row .col-4 .blondMan {
    width: 300px;
    height: 400px; } }
@media (max-width: 991px) {
  .team-carousel .container .carousel-inner .carousel-item .row .col-4 .smileMan,
  .team-carousel .container .carousel-inner .carousel-item .row .col-4 .glassesMan,
  .team-carousel .container .carousel-inner .carousel-item .row .col-4 .blondMan {
    width: 250px;
    height: 300px; }
  .team-carousel .container .carousel-inner .carousel-item .row .col-7 h1 {
    font-size: 24px;
    margin-bottom: 10px; } }
@media (max-width: 768px) {
  .team-carousel .container .carousel-inner .carousel-item .row {
    flex-direction: column-reverse; }
    .team-carousel .container .carousel-inner .carousel-item .row .col-4 {
      position: absolute; }
      .team-carousel .container .carousel-inner .carousel-item .row .col-4 .smileMan,
      .team-carousel .container .carousel-inner .carousel-item .row .col-4 .glassesMan,
      .team-carousel .container .carousel-inner .carousel-item .row .col-4 .blondMan {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: relative;
        bottom: 20px;
        left: 20px; }
    .team-carousel .container .carousel-inner .carousel-item .row .col-7 {
      margin: 20px; }
      .team-carousel .container .carousel-inner .carousel-item .row .col-7 h1 {
        margin-bottom: 20px; }
      .team-carousel .container .carousel-inner .carousel-item .row .col-7 h6,
      .team-carousel .container .carousel-inner .carousel-item .row .col-7 span {
        margin-left: 70px; } }
@media (max-width: 576px) {
  .team-carousel .container .carousel-inner .carousel-item .row .col-7 h1 {
    font-size: 32px;
    margin-right: 60px; } }
.cases {
  margin-top: 97px;
  margin-bottom: 30px; }
  .cases .container .ex {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #F0145A;
    text-transform: uppercase; }
    .cases .container .ex .bordered {
      padding: 20px 0 20px 22px;
      display: flex;
      font-size: 16px;
      border-right: 2px solid #fff;
      margin: 0;
      color: #F0145A; }
  .cases .container .row {
    flex-wrap: nowrap;
    margin: 0 auto;
    background-color: #F5F5FA;
    color: #686887; }
    .cases .container .row:last-of-type {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px; }
    .cases .container .row h5 {
      font-size: 24px; }
    .cases .container .row .col-4,
    .cases .container .row .col-3,
    .cases .container .row .col-2,
    .cases .container .row .col-5 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      padding-top: 48px;
      padding-bottom: 20px; }
    .cases .container .row .bordered__item {
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      border-top: 2px solid #fff;
      padding-left: 20px; }
      .cases .container .row .bordered__item:last-of-type {
        border-right: none; }
      .cases .container .row .bordered__item span {
        padding-top: 20px;
        color: #B3B3BA; }
    .cases .container .row .bordered__item__two {
      border-right: 2px solid #fff;
      padding-left: 20px;
      border-bottom: 2px solid #fff; }
      .cases .container .row .bordered__item__two:last-of-type {
        border-bottom-right-radius: 12px;
        border-right: none; }
      .cases .container .row .bordered__item__two span {
        padding-top: 20px;
        color: #B3B3BA; }

.trust__wrapper {
  display: flex;
  justify-content: center; }
  .trust__wrapper .trust {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(360px * 4);
    justify-content: center; }

@media (max-width: 991px) {
  .cases .container .row h5 {
    font-size: 20px; } }
@media (max-width: 768px) {
  .cases .container .row {
    display: flex;
    flex-direction: column; }
    .cases .container .row .bordered__item {
      border: none;
      border-top: 2px solid #fff;
      padding-top: 20px; }
      .cases .container .row .bordered__item span {
        padding-top: 10px; }
    .cases .container .row .bordered__item__two {
      border: none;
      border-top: 2px solid #fff;
      padding-top: 20px; }
      .cases .container .row .bordered__item__two span {
        padding-top: 10px; } }
.publications {
  background-color: #F5F5FA;
  padding-top: 40px; }
  .publications .container {
    position: relative; }
    .publications .container h5 {
      margin-top: 20px;
      color: #24A3FF;
      text-transform: uppercase;
      font-size: 14px; }
    .publications .container h6 {
      padding-top: 20px;
      color: #24A3FF;
      margin-bottom: 20px;
      margin-left: 20px; }
    .publications .container h1 {
      background: linear-gradient(45deg, #F0145A 10%, #EF8080 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #323264; }
    .publications .container span {
      color: #B3B3BA; }
    .publications .container p {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 4px solid #B3B3BA; }
    .publications .container span,
    .publications .container p {
      margin: 20px;
      padding-bottom: 20px; }
    .publications .container .row {
      margin-top: 40px;
      max-height: calc(100vh - 56px);
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 70px; }
      .publications .container .row .col .publications__item {
        background-color: #fff;
        border: 1px solid #F5F5FA;
        border-radius: 12px;
        margin-top: 20px; }
  .publications .shade__white {
    background-image: url(./../images/shade2.svg);
    position: absolute;
    background-size: cover;
    right: 1px;
    height: 200px;
    width: 100%;
    bottom: 0px;
    pointer-events: none; }
    .publications .shade__white button {
      position: absolute;
      left: 40%;
      bottom: 40px;
      padding: 10px;
      border: none;
      box-shadow: 0px 1px 11px -2px #24A3FF;
      border-radius: 20px;
      width: 250px;
      background-color: #24A3FF;
      height: 50px;
      font-weight: 700;
      font-size: 14px;
      color: #fff;
      cursor: pointer; }

@media (max-width: 991px) {
  .publications {
    padding-top: 20px; }
    .publications .container p {
      margin: 0 20px 10px 20px; }
    .publications .container span {
      margin: 0 20px 10px 20px;
      padding-bottom: 10px; }
    .publications .container .row {
      margin-top: 0; }
      .publications .container .row .col .publications__item {
        display: flex;
        flex-direction: column; }
    .publications .shade__white button {
      left: 35%; } }
@media (max-width: 768px) {
  .publications .shade__white button {
    left: 30%; }
  .publications .shade__white .container p {
    display: none; } }
.footer {
  background-color: #F5F5FA; }
  .footer .container .footer__wrapper {
    border-top: 4px solid #B3B3BA;
    padding-top: 33px;
    padding-bottom: 20px; }
    .footer .container .footer__wrapper .footer__border {
      padding-top: 33px; }
    .footer .container .footer__wrapper .row {
      padding-bottom: 20px; }
      .footer .container .footer__wrapper .row a {
        text-transform: uppercase;
        color: #24A3FF; }
      .footer .container .footer__wrapper .row .col {
        display: flex;
        align-items: center; }
        .footer .container .footer__wrapper .row .col .phone {
          font-weight: 500; }
          .footer .container .footer__wrapper .row .col .phone a {
            color: black; }
        .footer .container .footer__wrapper .row .col .email {
          text-transform: unset; }
        .footer .container .footer__wrapper .row .col span:first-child {
          margin-right: 30px; }
        .footer .container .footer__wrapper .row .col .span__mobile {
          display: none; }
      .footer .container .footer__wrapper .row .col-4 {
        color: #B3B3BA; }

@media (max-width: 768px) {
  .footer .container .footer__wrapper {
    padding-top: 20px; }
    .footer .container .footer__wrapper .row {
      flex-direction: column; }
      .footer .container .footer__wrapper .row .col {
        display: flex;
        flex-direction: column; }
        .footer .container .footer__wrapper .row .col .dot {
          display: none; }
        .footer .container .footer__wrapper .row .col span:first-child {
          margin: 0; }
        .footer .container .footer__wrapper .row .col .phone {
          padding: 20px 0 20px 0; }
      .footer .container .footer__wrapper .row .col-4 .span__desktop {
        display: none; }
      .footer .container .footer__wrapper .row .col-6 .span__mobile {
        padding-top: 20px;
        color: #B3B3BA;
        display: block; } }

/*# sourceMappingURL=index.css.map */
