.phenomenon {
  margin-bottom: 35px;
  .container {
    .phenomenon__wrapper {
      padding: 0 0 0 100px;

      .col-7 {
        h1 {
          @extend %clr;
        }
        p {
          font-size: $fs;
          padding-top: 15px;
          padding-right: 25px;
          
        }
      }
      .col {
        p {
          padding: 10px 0 40px 20px;
          margin: 0;
          border-left: 4px solid $third-color;

           &:last-child {
             padding-bottom: 0;
           }
        }
        img {
          padding: 0 0 0 20px;
          border-left: 4px solid $third-color;

      
        }
      }
    }
  }
}