@media (max-width:$lg) {
  .phenomenon {
    .container {
      .phenomenon__wrapper {
        padding: 0;
      }
    }
  }
}

@media (max-width:$md) {
  .phenomenon {
    margin-top: 30px;
    .container {
      .phenomenon__wrapper {
        padding: 0;
        flex-direction: column;
         
        .col-7 {
          p {
            font-size: 18px;
          }
        }
        .col {
          border-top: 4px solid $lightGray;
          padding-top: 15px;
          
          img,
          p {
            font-size: 18px;
            padding-left: 0;
            border-left: 0;
          }
        }
      }
    }
  }
}