@media (max-width:$md) {
  .quality {
    .container {
      .quality__wrapper {
         flex-direction: column;
          padding: 0;
         .col-7 {
           p {
             font-size: 18px;
           }
         }
      }
    }
  }
}