@media (max-width:$lg) {
  .team-carousel {
    .container {
      .carousel-inner {
        .carousel-item {
          .row {
            .col-7 {
              h1 {
                font-size: 24px;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width:$md) {
  .team-carousel {
    .container {
      .carousel-inner {
        .carousel-item {
          .row {
            .col-4 {
              display: none;
            }
            .col-7 {
                margin: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:$sm) {
  .team-carousel {
    .container {
      .carousel-inner {
        .carousel-item {
          .row {
            .col-7 {
              h1 {
                font-size: 32px;
              }
            }
          }
        }
      }
    }
  }
}