.team-carousel {
  margin-top: 40px;
  .container {
    .carousel-indicators {
      margin-bottom: -40px;
      
    button {
      width: 16px;
      height: 16px;
      border: 1px solid $blue ;
      border-radius: 10px ;
      background-color: $blue;
      margin: 0 7px 0 7px;
    }
    }
    .carousel-inner {
      background-color:$lightGray ;
      border: 1px solid #fff;
      border-radius: 12px;

      .carousel-item {
        .row {
          .col-7 {
            margin-top: 40px;
            margin-left: 40px;
            h5 {
              color: $blue;
            }
            h1 {
              background: linear-gradient(45deg, $second-color 10%, #EF8080 90%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              color: $main-color;
              margin-bottom: 20px;
            }
            h6,
            span {
              color: $third-color;
            }
          }
        }
      }
    }
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}