.team-carousel {
  margin-top: 40px;
  .container {
    .carousel-indicators {
      margin-bottom: -40px;
      
    button {
      @extend %blue-dots;
    }
    }
    .carousel-inner {
      background-color:$lightGray ;
      border: 1px solid #fff;
      border-radius: 12px;

      .carousel-item {
        .row {
          flex-wrap: nowrap;
          .col-4 {
            .smileMan {
              @include wh (413px, 500px);
              background-image: url(./../images/smileMan.png);
              background-position: center center;
              background-size: cover;
            }
            .glassesMan {
              background-image: url(./../images/glassesMan.png);
              @include wh (413px, 500px);
              background-position: center center;
              background-size: cover;
            }
            .blondMan {
            background-image: url(./../images/BlondMan.png);
            @include wh (413px, 500px);
              background-position: center center;
              background-size: cover;
          }
        }
          .col-7 {
            margin-top: 20px;
            margin-left: 25px;
            h5 {
              color: $blue;
            }
            h1 {
              @extend %clr;
              margin-bottom: 20px;
            }
            h6,
            span {
              color: $third-color;
            }
          }
        }
      }
    }
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}