@media (max-width:$md) {
  .team-section {
    .container {
      .row {
        .team__item {
         display: flex;
         margin-bottom: 20px;
        .team__img {
          width: 50vw;
          height: 50vw;
        }
        .section__wrapper {
          padding-left: 20px;
          flex-wrap: wrap;
          margin: 0;
          flex-direction: column;
          align-content: flex-start;
          align-items: flex-start;
          justify-content: flex-end;

          h6 {
            font-size: 18px;
          }
          a {
            img {
              margin-top: 10px;
            }
          }
        }
        }
      }
    }
  }
}