
.form {
  margin: 80px 0 80px 0;
  .container {
    .row {
      .adress {
        .adress__item {
          width: 200px;
          margin-bottom: 20px;
        }
        .phone {
          border-top: 4px solid $lightGray;
          padding-top: 30px;
          padding-bottom: 20px;
          width: 412px;
         a {
           color: black;
         }
        }
        .email {
          color: $blue;
          border-bottom: 4px solid $lightGray;
          padding-bottom: 40px;
          width: 412px;
        }
        font-size: 21px;
        img {
          width: 38px;
        }
      }
      .facebook {
         color: $blue;
         margin-top: 20px;
         font-size: 12px;
         display: flex;
         width: 165px;
         text-transform: uppercase;
         font-weight: 500;
         
         img {
           margin-right: 10px;
         }
      }
    }
  }
}

.map {
  background-color: $lightGray;
}