.container {
  max-width: $container-width;
  margin: 0 auto;
}

* {
  font-family: 'TT Norms',sans-serif;
  text-decoration: none !important;

}

.dot {
  @extend %dot;
  
}

@media(max-width:$xl) {
  .container {
    width: $lg;
  }
}

@media(max-width:$lg) {
  .container {
    width: $md;
  }
}

@media(max-width:$md) {
  .container {
    width: $sm;
  }
}

@media(max-width: $sm) {
  .container {
    width: $xs;
  }
}

.services-head {
  background-color: $main-color;
}

.cayboard-head {
  background-image: url(./../images/cayboard.png);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.bg__shadow {
  @include bgs ("./../images/shadowbg1.svg", 0 20px 0 20px);
  
}
.bg__item {
  @include bgs ("./../images/shadowbg2.svg", 0 40px 0 40px);
  
}