.container {
  max-width: $container-width;
  margin: 0 auto;
}

* {
  font-family: 'TT Norms',sans-serif;
  text-decoration: none !important;

}

.dot {
  @extend %dot;
  
}

@media(max-width:$xl) {
  .container {
    width: $lg;
  }
}

@media(max-width:$lg) {
  .container {
    width: $md;
  }
}

@media(max-width:$md) {
  .container {
    width: $sm;
  }
}

@media(max-width: $sm) {
  .container {
    width: $xs;
  }
}