.container {
  max-width: $container-width;
  margin: 0 auto;
}

* {
  font-family: 'TT Norms',sans-serif;
  text-decoration: none !important;

}

.dot {
  @extend %dot;
  
}

@media(max-width:$xl) {
  .container {
    width: $lg;
  }
}

@media(max-width:$lg) {
  .container {
    width: $md;
  }
}

@media(max-width:$md) {
  .container {
    width: $sm;
  }
}

@media(max-width: $sm) {
  .container {
    width: $xs;
  }
  .form__item {
    width: 100vw !important;
    input {
      width: 90vw !important;
    }
    textarea {
      width: 90vw !important;
    }
  }
}

.services-head {
  background-color: $main-color;
}

.cayboard-head {
  background-image: url(./../images/cayboard.png);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.bg__shadow {
  @include bgs ("./../images/shadowbg1.svg", 0 20px 0 20px);
  
}
.bg__item {
  @include bgs ("./../images/shadowbg2.svg", 0 40px 0 40px);
  
}

.form__item {
  padding: 20px;
  width: 527px;
  background-color: $lightGray;
  border-radius: 12px;


  legend {
    color: $third-color;
    text-transform: uppercase;
    font-size: 14px
  }

  h2 {
    @extend %clr;
    text-transform: none;
  }

  input {
    @include inputs (0 0 0 10px, 487px, 47px);
     
    &::placeholder {
      color: $third-color;
    }
  }
  textarea {
    @include inputs (10px 0 0 10px, 487px, 180px);
    resize: none;

    &::placeholder {
      color: $third-color;
    }
  }
  .btnblue {
    @extend %blueButton;
    margin: 0 auto;

    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(1);
    }
  }
}