%bg-img {
  background-repeat: no-repeat;
  background-size: cover;
}

%pinkh {
  color: $second-color;
  cursor: pointer;
}

%bgs {
  background-size: cover;
  background-position: center center;
  height: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

%blue-dots {
  @include wh (16px, 16px);
  border: 1px solid $blue;
  border-radius: 10px;
  background-color: $blue;
  margin: 0 7px 0 7px;
}

%dot {
  @include wh (6px, 6px);
  background: $third-color;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

%clr {
  background: linear-gradient(45deg, $second-color 10%, #EF8080 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   color: $main-color;
}

%blueButton {
        bottom: 40px;
        padding: 10px;
        border: none;
        box-shadow: 0px 1px 11px -2px $blue;
        border-radius: 12px;
        width: 250px;
        background-color: $blue;
        height: 50px;
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
         pointer-events: visible;
         transition: .3s ease;
}

%inputs {
         border-radius: 12px;
          border: none;
          margin-bottom: 20px;
}