@mixin bgr($pd, $url, $bgp) {
  @extend %bg-img;
  background-image: url($url);
  background-position: $bgp;
  padding: $pd;
}

@mixin bgs ($url, $mr) {
  @extend %bgs;
  background-image: url($url);
  margin: $mr;
}
  
@mixin wh ($w, $h) {
  width: $w;
  height: $h;
}

@mixin btna ($p) {
  position: $p;
  @extend %blueButton;
}

@mixin inputs ($p, $w, $h) {
  @extend %inputs;
  padding: $p;
  width: $w;
  height: $h;
}