$container-width: 1320px;

$main-color: #323264;

$second-color: #F0145A;

$third-color: #B3B3BA;

$blue: #24A3FF;

$lightGray: #F5F5FA;

$fs: 21px;


$xl: 1200px;
$lg: 991px;
$md: 768px;
$sm: 576px;
$xs: 100%;   